pipeline/MovieFolderExplorerPipeline.json
{
	"name": "MovieFolderExplorerPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetMovieFolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_IterateFoldersAndFilesPipeline",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "hsd"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				},
				"properties": {
					"folderPath": "<container_name>/movies",
					"recursive": true,
					"storeOutput": {
						"type": "DataTable",
						"name": "folderMetadata"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folder_name_op",
					"value": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterSubfolders",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMovieFolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMovieFolderMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'Folder')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterSubfolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterSubfolders').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_pl_5",
									"type": "DatasetReference",
									"parameters": {
										"folder__name": {
											"value": "@concat('movies/',item().name)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"folder_name": {
				"type": "Array"
			},
			"folder_name_op": {
				"type": "Array"
			},
			"op": {
				"type": "Array"
			},
			"only_folder_output": {
				"type": "String"
			},
			"data_op": {
				"type": "Array"
			},
			"sep_id_column": {
				"type": "Array"
			},
			"final_op_col_id": {
				"type": "Array"
			},
			"rahul_approch": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Assignments/day_3"
		},
		"annotations": []
	}
}