pipeline/pl_append_data.json
{
	"name": "pl_append_data",
	"properties": {
		"description": "this pipeline is created to append data in a list and \ntask1: show output by using set variable.\ntask2: access marks[0] index value",
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": [
						1,
						2,
						3,
						4,
						5,
						6,
						7,
						8
					]
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "append_marks",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Add_new_marks",
					"value": "10"
				}
			}
		],
		"variables": {
			"marks": {
				"type": "Array"
			},
			"Add_new_marks": {
				"type": "String"
			},
			"append_marks": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "basic_activity"
		},
		"annotations": []
	}
}