pipeline/pl_assignment_until_act.json
{
	"name": "pl_assignment_until_act",
	"properties": {
		"description": "- until - set array variable == 10 - contains \n- set array variable - remove one element \n\t\t[2,3,4,5,6,7,8,9,10]\n\t\t[3,4,5,6,7,8,9,10]\n\t\t[4,5,6,7,8,9,10]\n\t\t.\n\t\t.\n\t\t.\n\t\t.[10]\n\t\t.[]",
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('range'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "new_range",
								"value": {
									"value": "@skip(variables('range'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "range",
								"value": {
									"value": "@variables('new_range')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"range": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10
				]
			},
			"new_range": {
				"type": "Array"
			},
			"output": {
				"type": "Array"
			},
			"marks": {
				"type": "Array"
			},
			"Add_new_marks": {
				"type": "String"
			},
			"append_marks": {
				"type": "Array"
			},
			"file_name_with_extension": {
				"type": "Array"
			},
			"file_name_concat": {
				"type": "String"
			},
			"combine_file_names": {
				"type": "Array"
			},
			"collect_file_name_1": {
				"type": "Array"
			},
			"collect_file_name_2": {
				"type": "Array"
			},
			"combine_result": {
				"type": "Array"
			},
			"combine_op": {
				"type": "String"
			},
			"count_of_file_name": {
				"type": "Integer"
			},
			"count": {
				"type": "Integer"
			},
			"count_files": {
				"type": "String"
			},
			"count_csv_files": {
				"type": "Integer"
			},
			"data_op": {
				"type": "Array"
			},
			"sep_id_column": {
				"type": "Array"
			},
			"final_op_col_id": {
				"type": "Array"
			},
			"rahul_approch": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Assignments/day_1"
		},
		"annotations": []
	}
}