pipeline/pl_filter_file_name.json
{
	"name": "pl_filter_file_name",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_Ass_del_act_2",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "adssd"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_pl_5",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_filenaeme_bollywood",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_filename_hollywood",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "final_output_file_name_csv",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_filenaeme_bollywood",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Filter_filename_hollywood",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "combine_op",
					"value": {
						"value": "@concat(activity('Filter_filenaeme_bollywood').output,activity('Filter_filename_hollywood').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "count_of_bollywood_files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_filenaeme_bollywood",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@length(activity('Filter_filenaeme_bollywood').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "count_of_hollywood_files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_filename_hollywood",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count_of_file_name",
					"value": {
						"value": "@activity('Filter_filename_hollywood').output.FilteredItemsCount",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "count_of_bollywood_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count_files",
					"value": {
						"value": "@{variables('count')[1]}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_name_with_extension": {
				"type": "Array"
			},
			"file_name_concat": {
				"type": "String"
			},
			"combine_file_names": {
				"type": "Array"
			},
			"collect_file_name_1": {
				"type": "Array"
			},
			"collect_file_name_2": {
				"type": "Array"
			},
			"combine_result": {
				"type": "Array"
			},
			"combine_op": {
				"type": "String"
			},
			"count_of_file_name": {
				"type": "Integer"
			},
			"count": {
				"type": "Integer"
			},
			"count_files": {
				"type": "String"
			},
			"count_csv_files": {
				"type": "Integer"
			},
			"count_file": {
				"type": "Array"
			},
			"folder_name": {
				"type": "Array"
			},
			"folder_name_op": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Assignments"
		},
		"annotations": []
	}
}