pipeline/pl_fail_act_assignment.json
{
	"name": "pl_fail_act_assignment",
	"properties": {
		"description": "if file is not exists then execute fail act",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_ass_del_act_1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.exists,'true')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File is not present in bollywood folder",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"variables": {
			"data_op": {
				"type": "Array"
			},
			"sep_id_column": {
				"type": "Array"
			},
			"final_op_col_id": {
				"type": "Array"
			},
			"rahul_approch": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Assignments/day_2"
		},
		"annotations": []
	}
}