pipeline/pl_fail_act.json
{
	"name": "pl_fail_act",
	"properties": {
		"description": "task: i will copy a data  from the source if file will not present on location at that time activity is getting failed",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(string(activity('Get Metadata1').output.exists),'file is not present at source location')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@concat(string(activity('Get Metadata1').output.exists),'500')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"file_name_with_extension": {
				"type": "Array"
			},
			"file_name_concat": {
				"type": "String"
			},
			"combine_file_names": {
				"type": "Array"
			},
			"collect_file_name_1": {
				"type": "Array"
			},
			"collect_file_name_2": {
				"type": "Array"
			},
			"combine_result": {
				"type": "Array"
			},
			"combine_op": {
				"type": "String"
			},
			"count_of_file_name": {
				"type": "Integer"
			},
			"count": {
				"type": "Integer"
			},
			"count_files": {
				"type": "String"
			},
			"count_csv_files": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "basic_activity"
		},
		"annotations": []
	}
}