pipeline/pl_set_variable.json
{
	"name": "pl_set_variable",
	"properties": {
		"description": "this pipeline is created for set a value inside a variable. perform \ntask1- set value in variable\ntask2- set new variable with old variable value \ntask3 - combine both values ",
		"activities": [
			{
				"name": "act_set_var_session_nm",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "session_nm",
					"value": "BRAINWORK ADF Session"
				}
			},
			{
				"name": "act_set_var_session_id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "session_id",
					"value": "01"
				}
			},
			{
				"name": "act_set_var_concat_nm_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_set_var_session_nm",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_set_var_session_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "session_deatails",
					"value": {
						"value": "@concat(variables('session_id'),' ',variables('session_nm'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"session_nm": {
				"type": "String"
			},
			"session_id": {
				"type": "String"
			},
			"session_deatails": {
				"type": "String"
			},
			"new_lst": {
				"type": "Array"
			},
			"marks": {
				"type": "Array"
			},
			"markes ": {
				"type": "Array"
			},
			"range": {
				"type": "Array"
			},
			"range1": {
				"type": "String"
			},
			"output": {
				"type": "Array"
			},
			"range_2": {
				"type": "Array"
			},
			"range_new": {
				"type": "String"
			},
			"new_range": {
				"type": "Array"
			},
			"Add_new_marks": {
				"type": "String"
			},
			"append_marks": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "basic_activity"
		},
		"annotations": []
	}
}