pipeline/pl_wait_act_get_metadata.json
{
	"name": "pl_wait_act_get_metadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 1
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@endsWith(activity('Get Metadata1').output.childItems[0], '.csv')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"op": {
				"type": "string",
				"defaultValue": "output1"
			}
		},
		"variables": {
			"file_name_with_extension": {
				"type": "Array"
			},
			"file_name_concat": {
				"type": "String"
			},
			"combine_file_names": {
				"type": "Array"
			},
			"collect_file_name_1": {
				"type": "Array"
			},
			"collect_file_name_2": {
				"type": "Array"
			},
			"combine_result": {
				"type": "Array"
			},
			"combine_op": {
				"type": "String"
			},
			"count_of_file_name": {
				"type": "Integer"
			},
			"count": {
				"type": "Integer"
			},
			"count_files": {
				"type": "String"
			},
			"count_csv_files": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "basic_activity"
		},
		"annotations": []
	}
}