pipeline/pl_web_act.json
{
	"name": "pl_web_act",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item().employee_age,45)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@less(item().employee_age,20)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Filter2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "store_append_data",
					"value": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"my_ variable": {
				"type": "String"
			},
			"variable": {
				"type": "String"
			},
			"vaariable1": {
				"type": "Array"
			},
			"filter_data": {
				"type": "String"
			},
			"store_append_data": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "basic_activity"
		},
		"annotations": []
	}
}