pipeline/pl_web_act_assignment.json
{
	"name": "pl_web_act_assignment",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_op",
					"value": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('data_op')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sep_id_column",
								"value": {
									"value": "@item()['ID Nation']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "final_op_col_id",
								"value": {
									"value": "@variables('sep_id_column')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"data_op": {
				"type": "Array"
			},
			"sep_id_column": {
				"type": "Array"
			},
			"final_op_col_id": {
				"type": "Array"
			},
			"rahul_approch": {
				"type": "String"
			},
			"subfolder_name": {
				"type": "Array"
			},
			"folder_names": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Assignments/day_3"
		},
		"annotations": []
	}
}